*{
  padding: 0; margin: 0; border: 0;
}

body{
  background-image: url("bg_image.png");
}

.diff{
  height: 2px;
  background-image: linear-gradient(to right, cyan , blueviolet, cyan);
}

a{
  text-decoration: none;
}

p{
  font-size: 13px;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #ffffffd4;
}

.dashboard {
  display: flex;
  justify-content: space-around;
}

.section {
  margin: 10px;
}

.apps{
  width: 72vw;
}

.metrics{
  width: 23vw;
}

.crescent-temperature, .temperature, .storage, .ram, .network-activity, .server-apps {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.crescent-temperature, .temperature, .storage, .ram, .network-activity{
  width: 280px;
  background-color: white;
}

.crescent-temperature{
  display: flex;
  height: 100px;
  flex-flow: column;
  flex-wrap: wrap;
}

.server-apps{
  width: 65vw;
  background-color: white;
}

.crescent-temperature h3, .storage h3, .ram h3, .network-activity h3, .server-apps h3 {
  margin-bottom: 10px;
  font-size: 15px;
}


.gauge {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.CircularProgressbar{
  width: 25% !important;
  padding-left: 35px;
}

.circle {
  width: 100%;
  height: 100%;
  border: 5px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-value {
  font-size: 20px;
  font-weight: bold;
}

.bar {
  background: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.used {
  background: #76c7c0;
  height: 100%;
  border-radius: 10px;
}


.apps-grid{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  height: 72.5vh;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.app{
  width: 225px;
  height: 250px;
  background-color: rgb(230, 247, 247);
  align-items: center;
}

.app-label{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.server-apps .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.server-apps .status.green {
  background: green;
}

.server-apps .status.red {
  background: red;
} 

.server-apps .status.orange {
  background: orange;
} 